*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: SF PRO DISPLAY;
    src: url(./SFPRODISPLAYBOLD.OTF);
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#page{
    position: relative;
    height: 132vh;
    width: 100vw;
    background-color: black;
}

#page>nav #row1{
    display:flex ;
    align-items: center;
    font-family: SF PRO DISPLAY;
    justify-content: space-between;
    padding: 0px 20px;
    height: 12.5vh;
    /* width: 60vw; */
    width: 100%;
    background-color:rgb(187, 179, 179);
    color: white;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}


#page>nav>button{
    padding: 7px 20px;
    border-radius: 60px;
}

/* #page>video{ 
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: relative; */
    /* top: 60px; */
    /* left: 50%;
    transform: translateX(-50%);
} */
#page>video {
    height: calc(100% - 12.5vh); /* Subtract the navbar height from the video height */
    width: 60%;
    object-fit: cover;
    position: relative;
    top: 12.5vh; /* Adjusted to push the video below the navbar */
    left: 50%;
    transform: translateX(-50%);
}

 #page-bottom{
    height: 20%;
    width: 10%;
   
    position:absolute;
    font-family:SF PRO DISPLAY ;
    bottom: 0;
    top: 81%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 






#page-bottom>h3{
    color: #dadada93;
    margin-bottom: 1vw;
}

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#page1>h1{
    font-size: 3.5vw;
    color:white;
    font-family: SF PRO DISPLAY;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}